.background-image-list {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/background-anime-city.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
}

.anime-image {
  aspect-ratio: 3 / 4;
  cursor: pointer;
}

.border-image {
  border: 1px solid black;
}

.each-card {
  margin-top: 20px;
  /* border: 3px solid cyan; */
}

.each-anime-title {
  font-size: clamp(2rem, 2.5vw, 3.5rem) !important;
  font-family: bangers;
  text-shadow: -3px -3px 1px #F8F005, 3px 3px 1px #00f6d1;

}

.anime-card-title {
  font-size: clamp(2em, 2.5vw, 3rem);
  font-family: bangers;
  text-shadow: -3px -3px 1px #F8F005, 3px 3px 1px #00f6d1;
}

.each-anime-body-h2 {
  font-size: clamp(2em, 2.5vw, 3rem);
  font-family: bangers;
  text-shadow: -3px -3px 1px #F8F005, 3px 3px 1px #00f6d1;
}

.each-anime-body-p {
  color: rgb(18, 177, 229);
  font-size: clamp(1.1rem, 1.2vw, 1.9rem);
  font-family: anime_aceregular;
  font-weight: 600;
}

.modal-body-each-anime {
  background-color: lightyellow;
}

.btn-list,
.btn-list:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: white !important;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-list:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'Close';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.btn-list:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .btn-list,
  .btn-list:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
