.anime-image {
  aspect-ratio: 3 / 4;
  cursor: pointer;
}

.border-image {
  border: 1px solid black;
}

.each-card {
  margin-bottom: 20px;
  /* border: 3px solid cyan; */
}

.each-anime-title {
  color: rgb(227, 178, 53);
  font-size: clamp(2rem, 3vw, 4.5rem);
}

.anime-card-title {
  font-size: clamp(2rem, 2.5vw, 3rem);
}

.each-anime-body {
  color: rgb(18, 177, 229);
}

.modal-body-each-anime {
  background-color: lightyellow;
}
