.navbar {
  scroll-margin-top: 50px;
}

.username {
  font-size: 2.5em;
  letter-spacing: 0.02em;
  font-family: Bangers;
  margin-bottom: 0px;
}

.brand-name {
  font-size: 2em !important;
  font-family: bangers;
}

.links {
  font-size: 2em !important;
  font-family: bangers;
}

.login-navbar {
  font-size: 2em !important;
  font-family: bangers;

}

.logout-navbar {
  font-size: 2em !important;
  font-family: bangers;

}