.background-image-post {
  width: 100vw;
  height: 93.6vh;
  background-image: url(../assets/images/background-anime-neighborhood-other.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
}

.form-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(59, 81, 98, 0.75);
  /* add in the blur form contatiner that joe had, see how it looks */
  padding: 20px;
  border-radius: 20px;
}

.rating-drop {
  width: 100%;
  text-align: left;
  /* padding: 0.375rem 20vw ; */
}

.outside-text-form {
  text-align: center;
  font-size: clamp(2.3rem, 2.7vw, 2.9rem);
  font-family: Bangers;
  text-shadow: -3px -3px 1px #F8F005, 3px 3px 1px #00f6d1;
  /* might do text shadow to -2px, we shall see */
}

.outside-text-two {
  font-size: clamp(1.6rem, 2vw, 2.3em);
  font-family: Bangers;
  text-shadow: -2px -2px 2px #F8F005, 2px 2px 2px #00f6d1;

}

.outside-text-three {
  font-size: clamp(1.6rem, 2vw, 2.3em);
  font-family: Bangers;
  text-shadow: -2px -2px 2px #F8F005, 2px 2px 2px #00f6d1;
}

#homers-ghost {
  width: 50px;
  position: fixed;
  bottom: 0;
  left: 10px;
  padding: 10px;
  filter: invert(1);
  transform: scaleX(-1);
  opacity: 0.3;
}

#homers-ghost a:link,
#homers-ghost a:visited {
  color: rgb(164, 164, 235);
  text-decoration: none;

}

#homers-ghost a:hover {
  color: rgb(195, 0, 255);
}

.btn-post,
.btn-post:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #014dff 5%);
  border: 0;
  color: white !important;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #FF013C;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-post:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'Submit';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #FF013C 3%, #FF013C 5%, #014dff 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00f6d1;
  clip-path: var(--slice-0);
}

.btn-post:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {

  .btn-post,
  .btn-post:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}