@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.full-body {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 100%;
  height: 100vh;
  background-image: url("./assets/images/bgAnime.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

.outside-text {
  color: aqua;
  font-size: clamp(3rem, 4vw, 5rem);
  font-family: Bangers;
}

.card {
  border: 10px solid red ;
}

.btn {
  --bs-btn-border-width: 0px !important;
}

.modal-header {
  background-color: rgb(242, 236, 194) !important;
}

.modal-footer {
  background-color: rgb(242, 236, 194) !important;
}

.modal-body {
  background-color: rgb(233, 225, 184) !important;
}
